.tbl-fav-pdf {
    height: 20px !important;
    width: 20px !important;
    color: rgb(168, 0, 0);
}

.tbl-fav-money {
    height: 20px !important;
    width: 20px !important;
    color: rgb(158, 158, 0);
}

.tbl-fav-health {
    height: 20px !important;
    width: 20px !important;
    color: rgb(1, 102, 1);
}