<!-- <div class="project-context hidden-xs dropdown" dropdown>

  <span class="label">{{ 'EMPRESA' | i18n }}:</span>
    <span class="project-selector dropdown-toggle" *ngIf="!!company" >{{company.EMPR_Desc}} - {{company.EMPR_RUC}} </span>

  <ul *dropdownMenu class="dropdown-menu">
    <li *ngFor="let project of projects">
      <a href="{{project.href}}">{{project.title}}</a>
    </li>
    <li class="divider"></li>
    <li>
      <a (click)="clearProjects()"><i class="fa fa-power-off"></i> Empresas</a>
    </li>
  </ul>

</div> -->
