<div class="border-round p-15">
    <h2 mat-dialog-title>Cambiar Contrase&ntilde;a</h2>
    <div mat-dialog-content>
        <form [formGroup]="addCusForm" (ngSubmit)="onSubmitClick()">
            <div class="text-inside">
                <mat-form-field class="example-full-width">
                    <input matInput [type]="hide ? 'text' : 'password'" placeholder="Nueva Contraseña" formControlName="newpassword" required>
                    <a style="margin-left: -35px;" class="show-pwd-icon" href="#" onClick="return false;" matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                        [attr.aria-pressed]="hide">
                        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </a>
                    <mat-error *ngIf="addCusForm.controls.firstname.hasError('required')">
                        Por favor ingresa una nueva contrase&ntilde;a
                    </mat-error>
                    <mat-error *ngIf="addCusForm.controls.firstname.hasError('pattern')">
                        Por favor ingresa una nueva contrase&ntilde;a v&aacute;lida
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="text-inside">
                <mat-form-field class="example-full-width">
                    <input matInput [type]="hideN ? 'text' : 'password'" placeholder="Nueva Contraseña" formControlName="renewpassword" required>
                    <a style="margin-left: -35px;" class="show-pwd-icon" href="#" onClick="return false;" matSuffix (click)="hideN = !hideN" [attr.aria-label]="'Hide password'"
                        [attr.aria-pressed]="hideN">
                        <mat-icon>{{hideN ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </a>
                    <mat-error *ngIf="addCusForm.controls.lastname.hasError('required')">
                        Por favor ingresa una nueva contrase&ntilde;a
                    </mat-error>
                    <mat-error *ngIf="addCusForm.controls.lastname.hasError('pattern')">
                        Por favor ingresa una nueva contrase&ntilde;a
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="btn-sec">
                <button class="btn-space" mat-raised-button color="primary">Guardar</button>
                <button type="button" mat-button (click)="closeDialog()">Cancelar</button>
            </div>
        </form>
    </div>
</div>