<section class="content">
    <div class="content-block">
        <div class="block-header">
            <app-breadcrumb [title]="id > 0 ? 'Actualizar' : 'Nuevo' + ' tutor'" [items]="['Tutores']" [active_item]="id > 0 ? 'Actualizar' : 'Nuevo' + ' tutor'"></app-breadcrumb>
        </div>
        <form class="m-4" [formGroup]="tutorForm" (ngSubmit)="onSubmit()">
            <div class="row clearfix">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                    <div class="card">
                        <div class="header">
                            <h2><strong>{{this.id > 0 ? 'Actualizar' : 'Nuevo'}} tutor</strong></h2>
                            <h2></h2>
                            <h2 *ngIf="!(this.id > 0)"><strong><button mat-raised-button class="btn-space" type="button" color="primary" (click)="SearchConquistadores()">¿Eres
                                        conquistador?</button></strong></h2>
                        </div>
                        <div class="body">
                            <div class="row">
                                <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-2">
                                    <mat-form-field class="example-full-width mb-2" appearance="outline">
                                        <mat-label>Nombres</mat-label>
                                        <input matInput formControlName="PersNombres" required>
                                        <mat-error *ngIf="tutorForm.get('PersNombres').hasError('required')">
                                            El nombre es obligatorio
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-2">
                                    <mat-form-field class="example-full-width mb-2" appearance="outline">
                                        <mat-label>Apellido paterno</mat-label>
                                        <input matInput formControlName="PersApellidoPaterno" required>
                                        <mat-error *ngIf="tutorForm.get('PersApellidoPaterno').hasError('required')">
                                            El apellido paterno es obligatorio
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-2">
                                    <mat-form-field class="example-full-width mb-2" appearance="outline">
                                        <mat-label>Apellido materno</mat-label>
                                        <input matInput formControlName="PersApellidoMaterno" required>
                                        <mat-error *ngIf="tutorForm.get('PersApellidoMaterno').hasError('required')">
                                            El apellido materno es obligatorio
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-2">
                                    <mat-form-field class="example-full-width mb-2" appearance="outline">
                                        <mat-label>DNI</mat-label>
                                        <input matInput formControlName="PersDni" required>
                                        <mat-error *ngIf="tutorForm.get('PersDni').hasError('required')">
                                            El DNI es obligatorio
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-2">
                                    <mat-form-field class="example-full-width mb-2" appearance="outline">
                                        <mat-label>Fecha de nacimiento</mat-label>
                                        <input matInput [matDatepicker]="picker" formControlName="PersFechaNacimiento" required>
                                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                        <mat-datepicker #picker></mat-datepicker>
                                        <mat-error *ngIf="tutorForm.get('PersFechaNacimiento').hasError('required')">
                                            Selecciona una fecha de nacimiento
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-2">
                                    <mat-form-field class="example-full-width mb-2" appearance="outline">
                                        <mat-label>G&eacute;nero</mat-label>
                                        <mat-select formControlName="PersSexo" required>
                                            <mat-option [value]="'M'">
                                                Masculino
                                            </mat-option>
                                            <mat-option [value]="'F'">
                                                Femenino
                                            </mat-option>
                                        </mat-select>
                                        <mat-error *ngIf="tutorForm.get('PersSexo').hasError('required')">
                                            El g&eacute;nero es obligatorio
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-2">
                                    <mat-form-field class="example-full-width mb-2" appearance="outline">
                                        <mat-label>Nacionalidad</mat-label>
                                        <mat-select formControlName="PersNacionalidad" required>
                                            <mat-option [value]="'Peruana'"> Peruana </mat-option>
                                        </mat-select>
                                        <mat-error *ngIf="tutorForm.get('PersNacionalidad').hasError('required')">
                                            La nacionalidad es obligatoria
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="col-xl-8 col-lg-8 col-md-12 col-sm-12 mb-2">
                                    <mat-form-field class="example-full-width mb-2" appearance="outline">
                                        <mat-label>Direcci&oacute;n</mat-label>
                                        <input matInput formControlName="PersDireccionCasa" required>
                                        <mat-error *ngIf="tutorForm.get('PersDireccionCasa').hasError('required')">
                                            La direcci&oacute;n es obligatoria
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                                    <mat-form-field class="example-full-width mb-2" appearance="outline">
                                        <mat-label>Ciudad</mat-label>
                                        <input matInput formControlName="PersCiudad" required>
                                        <mat-error *ngIf="tutorForm.get('PersCiudad').hasError('required')">
                                            La ciudad es obligatoria
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                                    <mat-form-field class="example-full-width mb-2" appearance="outline">
                                        <mat-label>Provincia</mat-label>
                                        <input matInput formControlName="PersRegion" required>
                                        <mat-error *ngIf="tutorForm.get('PersRegion').hasError('required')">
                                            La provincia es obligatoria
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 mb-2">
                                    <mat-form-field class="example-full-width mb-2" appearance="outline">
                                        <mat-label>Celular</mat-label>
                                        <input matInput formControlName="PersCelular" type="number" required>
                                        <mat-error *ngIf="tutorForm.get('PersCelular').hasError('required')">
                                            El celular es obligatorio
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 mb-2">
                                    <mat-form-field class="example-full-width mb-2" appearance="outline">
                                        <mat-label>Tel&eacute;fono</mat-label>
                                        <input matInput formControlName="PersTelefono" type="number">
                                    </mat-form-field>
                                </div>
                                <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 mb-2">
                                    <mat-form-field class="example-full-width mb-2" appearance="outline">
                                        <mat-label>Correo principal</mat-label>
                                        <input matInput formControlName="PersCorreoPersonal" required>
                                        <mat-error *ngIf="tutorForm.get('PersCorreoPersonal').hasError('required')">
                                            El correo principal es obligatorio
                                        </mat-error>
                                        <mat-error *ngIf="tutorForm.get('PersCorreoPersonal').hasError('PersCorreoPersonal') && tutorForm.get('PersCorreoPersonal').touched">
                                            Ingresa un correo v&aacute;lido
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 mb-2">
                                    <mat-form-field class="example-full-width mb-2" appearance="outline">
                                        <mat-label>Correo secundario</mat-label>
                                        <input matInput formControlName="PersCorreoCorporativo">
                                        <mat-error *ngIf="tutorForm.get('PersCorreoCorporativo').hasError('PersCorreoCorporativo') && tutorForm.get('PersCorreoCorporativo').touched">
                                            Ingresa un correo v&aacute;lido
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                                    <mat-form-field class="example-full-width mb-2" appearance="outline">
                                        <mat-label>Centro de trabajo</mat-label>
                                        <input matInput formControlName="TutoCentroTrabajo" required>
                                        <mat-error *ngIf="tutorForm.get('TutoCentroTrabajo').hasError('required')">
                                            El centro de trabajo es obligatorio
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                                    <mat-form-field class="example-full-width mb-2" appearance="outline">
                                        <mat-label>Direcci&oacute;n del trabajo</mat-label>
                                        <input matInput formControlName="TutoDireccionTrabajo" required>
                                        <mat-error *ngIf="tutorForm.get('TutoDireccionTrabajo').hasError('required')">
                                            La direcci&oacute;n del trabajo es obligatoria
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row clearfix">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                    <div class="card">
                        <div class="header">
                            <h2><strong> Cuenta</strong></h2>
                        </div>
                        <div class="body">
                            <div class="row">
                                <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-2">
                                    <mat-form-field class="example-full-width mb-2" appearance="outline">
                                        <mat-label>Usuario</mat-label>
                                        <input matInput formControlName="UsuaUsuario" required>
                                        <mat-error *ngIf="tutorForm.get('UsuaUsuario').hasError('required')">
                                            El usuario es obligatorio
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-2">
                                    <mat-form-field class="example-full-width mb-2" appearance="outline">
                                        <mat-label>Contrase&ntilde;a</mat-label>
                                        <input matInput formControlName="UsuaContrasenia" [type]="hide1 ? 'text' : 'password'">
                                        <a style="margin-left: -35px;" class="show-pwd-icon" href="#" onClick="return false;" matSuffix (click)="hide1 = !hide1" [attr.aria-label]="'Hide password'"
                                            [attr.aria-pressed]="hide1">
                                            <mat-icon>{{hide1 ? 'visibility_off' : 'visibility'}}</mat-icon>
                                        </a>
                                    </mat-form-field>
                                </div>
                                <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-2">
                                    <mat-form-field class="example-full-width mb-2" appearance="outline">
                                        <mat-label>Confirmar contrase&ntilde;a</mat-label>
                                        <input matInput formControlName="UsuaReContrasenia" [type]="hide2 ? 'text' : 'password'">
                                        <a style="margin-left: -35px;" class="show-pwd-icon" href="#" onClick="return false;" matSuffix (click)="hide2 = !hide2" [attr.aria-label]="'Hide password'"
                                            [attr.aria-pressed]="hide1">
                                            <mat-icon>{{hide2 ? 'visibility_off' : 'visibility'}}</mat-icon>
                                        </a>
                                    </mat-form-field>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row clearfix">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                    <div class="card">
                        <div class="body">
                            <div class="row">
                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                                    <button class="btn-space" [disabled]="!tutorForm.valid" [class.auth-spinner]="isSaving" mat-raised-button color="primary">{{this.id > 0 ? 'Actualizar' :
                                        'Guardar'}}</button>
                                    <button type="button" mat-button>Cancelar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</section>