<div id="content">
    <sa-widgets-grid>
        <!-- row -->
        <div class="row">
            <!-- NEW WIDGET START -->
            <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12 sortable-grid" style="background-color: white">
                <div sa-widget [colorbutton]="false" [sortable]="false" [editbutton]="false" [togglebutton]="true"
                    [deletebutton]="false" id="0" name="widget-0">
                    <header id="busquedaPrincipal">
                        <h2><i class="fa fa-tasks"></i> ALMACENES</h2>
                    </header>
                    <div>
                        <div [hidden]="!isLoading" class="widget-body">
                            <div class="spinnerLoading">
                                <img src="assets/img/loading2.gif" alt="Cargando..." />
                            </div>
                        </div>

                        <div [hidden]="isLoading" class="widget-body">
                            <div class="widget-body-toolbar">
                                <form [formGroup]="searchForm" class="smart-form" style="margin-bottom: -9px">
                                    <div class="row">
                                        <section class="col col-4">
                                            <label for="" class="label">Nombre:</label>
                                            <label class="input">
                                                <input type="text" placeholder="Nombre del almacén"
                                                    autocomplete="off" />
                                            </label>
                                        </section>

                                        <section class="col col-2">
                                            <label for="" class="label">Almacén Padre:</label>
                                            <label class="select">
                                                <select>
                                                    <option value="">--Todos--</option>
                                                </select>
                                                <i></i>
                                            </label>
                                        </section>

                                        <section class="col col-2">
                                            <label for="" class="label">Estado:</label>
                                            <label class="select">
                                                <select>
                                                    <option value="">--Todos--</option>
                                                </select>
                                                <i></i>
                                            </label>
                                        </section>

                                        <section class="col col-4 col-sm-4 pull-right">
                                            <label for="" class="label">&nbsp;</label>
                                            <button title="Buscar" type="button" class="btn btn-success custombutton">
                                                <i class="fa fa-plus"></i>
                                                Agregar
                                            </button>
                                            <button title="Buscar" type="button" class="btn btn-primary custombutton">
                                                Buscar
                                            </button>
                                        </section>
                                    </div>
                                </form>
                            </div>
                            <div style="margin: -13px;">
                                <sa-datatable [options]="options" [paginationLength]="true" [tableId]="tableId"
                                    tableClass="table table-striped table-bordered table-hover" width="100%">
                                </sa-datatable>
                            </div>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </sa-widgets-grid>
</div>


<!--MView-->
<div bsModal #MView="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
    aria-hidden="true" [config]="{ backdrop: 'static', keyboard: false }">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" (click)="MView.hide()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title"><strong>{{Title}}</strong></h4>
            </div>
            <div class="modal-body">
                <form class="smart-form" [formGroup]="almacenForm">
                    <section>
                        <input type="hidden" />
                    </section>

                    <div class="row">
                        <section class="col col-6">
                            <label for="" class="label">Almacén padre:</label>
                            <label class="select">
                                <select>
                                    <option value="">--Seleccionar--</option>
                                </select>
                                <i></i>
                            </label>
                        </section>

                        <section class="col col-6">
                            <label class="label">Activo</label>
                            <div class="inline-group">
                                <label class="checkbox">
                                    <input type="checkbox" name="checkbox-inline" checked="checked" />
                                    <i></i></label>
                            </div>
                        </section>
                    </div>

                    <section>
                        <label class="label">Nombre</label>
                        <label class="input">
                            <input type="text" maxlength="100" />
                            <div class="note note-error">
                                El nombre es obligatorio
                            </div>
                        </label>
                    </section>

                    <section>
                        <label class="label">Descripcion</label>
                        <label class="input">
                            <input type="text" maxlength="100" />
                            <div class="note note-error">
                                La descripción es obligatoria
                            </div>
                        </label>
                    </section>

                    <footer>
                        <button type="button" class="btn btn-default custombutton" (click)="MView.hide()"
                            [disabled]="this.isSaving">
                            Cancelar
                        </button>
                        <button type="submit" class="btn btn-primary custombutton" [disabled]="this.isSaving">
                            Guardando
                        </button>
                    </footer>
                </form>
            </div>
        </div>
    </div>
</div>