<div id="content">
    <sa-widgets-grid>
        <div class="row">
            <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12 sortable-grid" style="background-color: white">
                <div sa-widget [colorbutton]="false" [sortable]="false" [editbutton]="false" [togglebutton]="true" [deletebutton]="false" id="0" name="widget-0">
                    <header id="busquedaPrincipal">
                        <h2><i class="fa fa-tasks"></i> CONQUISTADORES</h2>
                    </header>
                    <div>
                        <div [hidden]="!isLoading" class="widget-body">
                            <div class="spinnerLoading">
                                <img src="assets/img/loading2.gif" alt="Cargando..." />
                            </div>
                        </div>
                        <div [hidden]="isLoading" class="widget-body">
                            <div class="widget-body-toolbar">
                                <form [formGroup]="searchForm" class="smart-form" style="margin-bottom: -9px">
                                    <div class="row">
                                        <section class="col col-2">
                                            <label for="" class="label">DNI</label>
                                            <label class="input">
                                                <input type="text" placeholder="DNI del conquistador" autocomplete="off" formControlName="ConqDni" />
                                            </label>
                                        </section>
                                        <section class="col col-4">
                                            <label for="" class="label">Nombres</label>
                                            <label class="input">
                                                <input type="text" placeholder="Nombres del conquistador" autocomplete="off" formControlName="ConqNombres" />
                                            </label>
                                        </section>
                                        <section class="col col-4">
                                            <label for="" class="label">Apellidos</label>
                                            <label class="input">
                                                <input type="text" placeholder="Apellidos del conquistador" autocomplete="off" formControlName="ConqApellidos" />
                                            </label>
                                        </section>
                                        <section class="col col-2">
                                            <label for="" class="label">Edad</label>
                                            <label class="input">
                                                <input type="number" placeholder="Edad del conquistador" autocomplete="off" formControlName="ConqEdad" />
                                            </label>
                                        </section>
                                    </div>
                                    <div class="row">
                                        <section class="col col-4 col-sm-4 pull-right">
                                            <label for="" class="label">&nbsp;</label>
                                            <button title="Registrar" type="button" class="btn btn-success custombutton">
                                                <i class="fa fa-plus"></i>
                                                Registrar
                                            </button>
                                            <button title="Buscar" type="button" class="btn btn-primary custombutton">
                                                <i class="fa fa-search"></i>
                                                Buscar
                                            </button>
                                        </section>
                                    </div>
                                </form>
                            </div>
                            <div style="margin: -13px;">
                                <sa-datatable [options]="options" [paginationLength]="true" [tableId]="tableId" tableClass="table table-striped table-bordered table-hover" width="100%">
                                </sa-datatable>
                            </div>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </sa-widgets-grid>
</div>