.btnAyuda{
  background-color: #bebdbd;
  color: white;
  border-radius: 5px;
  padding: 0px;
  border-color: transparent;
}

.btnAyuda:hover{
  background-color: #9c9c9c;
  cursor: pointer;
}

.btnAyudaSearched{
  /* background-color: #f12c57; */
  background-color: #bebdbd;
  color: white;
  border-radius: 5px;
  padding: 0px;
  border-color: transparent;
}

.btnAyudaSearched:hover{
  background-color: #9c9c9c;
  cursor: pointer;
}
