<div class="modal-header">
    <button type="button" class="close" (click)="null" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title"><strong>AYUDAAAAAAA</strong></h4>
  </div>
  <div class="modal-body">
    <div style="text-align: center">
      <i class="fa fa-spinner fa-spin" style="font-size: xx-large"></i>
    </div>
  </div>

  <!-- <div *ngIf="isSearching" class="modal-body">
    <div style="text-align: center">
      <i class="fa fa-spinner fa-spin" style="font-size: xx-large"></i>
    </div>
  </div>
  <div *ngIf="!isSearching" class="modal-body">
    <div class="table-responsive">
      <sa-datatable [options]="options" [paginationLength]="true"
        tableClass="table table-striped table-bordered table-hover" width="100%">
      </sa-datatable>
    </div>
  </div> -->