<div id="content">
    <sa-widgets-grid>
        <div class="row">
            <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12 sortable-grid" style="background-color: white">
                <div sa-widget [colorbutton]="false" [sortable]="false" [editbutton]="false" [togglebutton]="true"
                    [deletebutton]="false" id="0" name="widget-0">
                    <header id="busquedaPrincipal">
                        <h2><i class="fa fa-tasks"></i> DASHBOARD</h2>
                    </header>
                    <div>
                        <div class="widget-body">
                            <div class="widget-body-toolbar">
                                <div class="row">
                                    <div class="col-md-2" style="text-align: center;">
                                        <img src="assets/img/Conquistador.png" alt="Foto de perfil" class="profile-pic"
                                            height="300">
                                    </div>
                                    <div class="col-md-4">
                                        <h2>{{ fullName }}</h2>
                                        <h3>{{ birthdate }}</h3>
                                        <h3>{{ email }}</h3>
                                        <h3>{{ phone }}</h3>
                                        <h3>{{ savings }}</h3>
                                        <h3>{{ points }}</h3>
                                    </div>
                                    <div class="col-md-3" style="text-align: center;">
                                        <img [src]="unitImage" alt="Foto de perfil" height="200">
                                        <h3>{{ unit }}</h3>
                                        <p>{{ unit }}</p>
                                    </div>
                                    <div class="col-md-3" style="text-align: center;">
                                        <img [src]="classImage" alt="Foto de perfil" height="200">
                                        <h3>{{ class }}</h3>
                                        <p>{{ class }}</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <h3>Avance del Cuadernillo</h3>
                                        <div class="progress">
                                            <div class="progress-bar" role="progressbar" [style]="'width: 60%;'"
                                                aria-valuenow="60" aria-valuemin="0" aria-valuemax="100">60%
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <h3>Especialidades</h3>
                                        <div class="row">
                                            <div class="col-md-1" style="text-align: center;">
                                                <img src="assets/img/excursionista.png" alt="Foto de perfil"
                                                    height="100">
                                                <h3>Información de la Clase</h3>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </sa-widgets-grid>
</div>