<section class="content">
    <div class="content-block">
        <div class="block-header">
            <app-breadcrumb [title]="'Incripciones'" [items]="['Conquistadores']" [active_item]="'Inscripciones'"></app-breadcrumb>
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="header">
                        <div class="row">
                            <h2>
                                <strong>Asignar roles</strong>
                            </h2>
                        </div>
                    </div>
                    <div class="body">
                        <form class="m-4" [formGroup]="roleForm" (ngSubmit)="onSubmit()">
                            <div class="row">
                                <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-2">
                                    <mat-form-field class="example-full-width mb-2" appearance="outline">
                                        <mat-label>Rol</mat-label>
                                        <mat-select formControlName="RoleId" required [disabled]="!!id">
                                            <mat-option *ngFor="let rol of rolesList" [value]="rol.RoleId">
                                                {{rol.RoleNombre}}
                                            </mat-option>
                                        </mat-select>
                                        <mat-error *ngIf="roleForm.get('RoleId').hasError('required')">
                                            Debe seleccionar un rol.
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 mb-2">
                                    <button *ngIf="!id" class="btn btn-primary btn-space" [disabled]="!roleForm.valid" [class.auth-spinner]="isSearching" style="margin-top: 8px;">
                                        <app-feather-icons [icon]="'search'" class="tbl-fav-pdf"></app-feather-icons> Buscar
                                    </button>
                                    <button *ngIf="id" class="btn btn-secondary btn-space" type="button" (click)="addNew()" [class.auth-spinner]="isSaving" style="margin-top: 8px;">
                                        <app-feather-icons [icon]="'plus'" class="tbl-fav-pdf"></app-feather-icons> Agregar
                                    </button>
                                    <button *ngIf="id" class="btn btn-danger btn-space" type="button" (click)="refresh()" style="margin-top: 8px;">
                                        <app-feather-icons [icon]="'rotate-ccw'" class="tbl-fav-pdf"></app-feather-icons> Deshacer
                                    </button>
                                    <button *ngIf="id" class="btn btn-success btn-space" type="button" (click)="saveAll()" style="margin-top: 8px;">
                                        <app-feather-icons [icon]="'save'" class="tbl-fav-pdf"></app-feather-icons> Guardar
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="body">
                        <div class="table-responsive">
                            <div class="materialTableHeader">
                                <div class="row">
                                    <div class="col-8">
                                        <ul class="header-buttons-left ms-0">
                                            <li class="dropdown m-l-20">
                                                <label for="search-input"><i class="material-icons search-icon">search</i></label>
                                                <input placeholder="Buscar" type="text" #filter class="browser-default search-field" aria-label="Search box">
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="col-4">
                                        <ul class="header-buttons">
                                            <li>
                                                <div class="export-button m-l-10" matTooltip="XLSX">
                                                    <img src="assets/images/icons/xlsx.png" alt="" (click)="exporter.exportTable('xlsx', {fileName:'conquistadores', sheet: 'Conquistadores'})" />
                                                </div>
                                            </li>
                                            <li>
                                                <div class="export-button m-l-10" matTooltip="TXT">
                                                    <img src="assets/images/icons/txt.png" alt="" (click)="exporter.exportTable('txt', {fileName:'conquistadores'})" />
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <mat-table #table matTableExporter [dataSource]="dataSource" matSort class="mat-cell" #exporter="matTableExporter">
                                <ng-container matColumnDef="nombres">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header>Conquistador</mat-header-cell>
                                    <mat-cell *matCellDef="let row"> {{row.PersNombres}}</mat-cell>
                                </ng-container>
                                <ng-container matColumnDef="usuario">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header>Usuario</mat-header-cell>
                                    <mat-cell *matCellDef="let row"> {{row.UsuaUsuario}}</mat-cell>
                                </ng-container>
                                <ng-container matColumnDef="fecha">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header>Fecha de creaci&oacute;n</mat-header-cell>
                                    <mat-cell *matCellDef="let row"> {{row.AudiFechCrea}}</mat-cell>
                                </ng-container>
                                <ng-container matColumnDef="creador">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header>Creador</mat-header-cell>
                                    <mat-cell *matCellDef="let row"> {{row.AudiUserCrea}}</mat-cell>
                                </ng-container>
                                <ng-container matColumnDef="actions">
                                    <mat-header-cell class="pr-0" *matHeaderCellDef>Acciones</mat-header-cell>
                                    <mat-cell *matCellDef="let row; let i=index;" class="pr-0">
                                        <button *ngIf="id != 1 && id != 2" mat-icon-button (click)="$event.stopPropagation()" (click)="editItem(row)" class="tbl-action-btn">
                                            <app-feather-icons [icon]="'edit'" class="tbl-fav-edit"></app-feather-icons>
                                        </button>
                                        <button mat-icon-button (click)="$event.stopPropagation()" (click)="deleteItem(row)" class="tbl-action-btn">
                                            <app-feather-icons [icon]="'trash'" class="tbl-fav-delete"></app-feather-icons>
                                        </button>
                                    </mat-cell>
                                </ng-container>
                                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                                <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                            </mat-table>
                            <div *ngIf="asignarRolDataBase.isTblLoading" class="tbl-spinner">
                                <mat-progress-spinner color="primary" [diameter]="40" mode="indeterminate">
                                </mat-progress-spinner>
                            </div>
                            <div *ngIf="!asignarRolDataBase.isTblLoading" class="no-results" [style.display]="dataSource.renderedData.length == 0 ? '' : 'none'">
                                A&uacute;n no hay usuarios para mostrar
                            </div>
                            <mat-paginator #paginator [length]="dataSource.filteredData.length" [pageIndex]="0" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]">
                            </mat-paginator>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>