<header id="header">
   <div>
      <span id="logo"> <img class="logo_empresa" src="assets/img/logotipo.png" alt="Logo"> </span>
   </div>
</header>

<div>
   <div id="content" class="container">
      <div class="row">
         <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 hidden-xs hidden-sm">
            <h1 class="txt-color-red login-header-big">Sistema de G&eacute;stion del Club de Conqusitadores "Las
               &Aacute;guilas"</h1>
            <div class="hero">
               <div class="row">
                  <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                     <div class="pull-left login-desc-box-l"><br/>
                        <h4 style="font-size: 20px;" class="paragraph-header">Gestiona conquistadores, planifica y
                           registra actividades, haz un seguimiento del avance de los conquistadores en especialidades y
                           clases, toma asistencia y registra puntos de actividades semanales.</h4>
                        <div class="login-app-icons"><br/><br/>
                           <a href="https://cclasaguilasaqp.netlify.app/" target="_blank"
                              class="btn btn-danger btn-sm">Más información</a>
                        </div>
                     </div>
                  </div>
                  <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6"
                       style="background-image: url('assets/img/R.png'); background-size:cover; background-position: center; height: 230px; width: 164px;">
                  </div>
               </div>
            </div>
         </div>
         <div class="col-xs-12 col-sm-12 col-md-5 col-lg-4">
            <div class="well no-padding">
               <router-outlet></router-outlet>
            </div>
         </div>
      </div>
   </div>
</div>
