<header id="header">
    <div>
        <span id="logo">
            <img src="assets/img/logotipo.png" class="logo_empresa" alt="Logo">
        </span>
    </div>
    <div class="project-context hidden-xs dropdown" style="margin-left: 8px">
        <span class="project-selector" style="font-size: 14px; text-transform: none; color:#202427">
            Club: Las &Aacute;guilas
        </span>
    </div>
    <div class="pull-right">
        <sa-collapse-menu></sa-collapse-menu>
        <sa-logout></sa-logout>
        <sa-centorno></sa-centorno>
        <sa-full-screen></sa-full-screen>
        <sa-manual></sa-manual>
    </div>
</header>