<form id="login-form" class="smart-form client-form" [formGroup]="form" (keyup.enter)="onSubmit()">
   <header>
      Recuperar contraseña
   </header>
   <fieldset>
      <section>
         <label class="label">Tu nombre de usuario</label>
         <label class="input">
            <i class="icon-append fa fa-user"></i>
            <input type="text" name="username" formControlName="username">
            <b class="tooltip tooltip-top-right"><i class="fa fa-user txt-color-teal"></i>
               Ingresa tu nombre de usuario
            </b>
         </label>
         <div class="note">
            <a routerLink="/auth/login"> ¡Recordé de mi contraseña!</a>
         </div>
      </section>
   </fieldset>
   <footer>
      <button type="button" class="btn btn-primary" (click)="onSubmit()">
         <i *ngIf="loading" class="fa fa-spinner fa-spin"></i>
         Recuperar
      </button>
   </footer>
</form>
